{% extends 'survey/base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">   
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load("current", {packages:["corechart"]});
          google.charts.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Answer', 'Votes'],
            {% for answer in answers %}{% if answer.parent.pk == question.pk %}
                    ['{{ answer.text }}', {{ answer.votes }}], 
                {% endif %} {% endfor %}
            ]);

            var options = {
              title: '{{ question.text }} ({{ question.answers }} responses)',
              is3D: false,
              sliceVisibilityThreshold:0,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_{{ question.pk }}'));
            chart.draw(data, options);
          }
        </script>
        <div id="piechart_3d_{{ question.pk }}" style="width: 800px; height: 500px;"></div>
        </div>
    </div>
{% endblock %}